@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-feature-settings: "palt";
        @apply bg-gray-100;
        @apply text-gray-700;
    }
    article {
        @apply font-sans;
        @apply leading-relaxed;
    }
    
    article p {
        @apply my-4;
    }
    
    article h1 {
        @apply font-heading;
        @apply font-bold;
        @apply text-4xl;
        @apply mt-6;
        @apply mb-4;
    }
    
    article h2 {
        @apply font-heading;
        @apply font-bold;
        @apply text-3xl;
        @apply mt-6;
        @apply mb-2;
    }
    
    article h3 {
        @apply font-heading;
        @apply font-bold;
        @apply text-2xl;
        @apply mt-4;
        @apply mb-2;
    }
    
    article h4 {
        @apply font-heading;
        @apply font-bold;
        @apply text-xl;
        @apply mt-4;
        @apply mb-2;
    }
    
    article a {
        @apply underline;
        @apply transition;
        @apply hover:text-yellow-500;
    }
    
    article code {
        @apply text-sm;
        @apply font-mono;
    }
    
    article pre {
        background-color: #2e3440;
        @apply p-4;
        @apply rounded;
        @apply overflow-auto;
    }
    
    .shiki-unknown {
        @apply text-gray-200;
    }
    
    article ul {
        @apply list-disc;
    }
    
    article li ul {
        @apply ml-4;
    }
    
    article ol {
        @apply list-decimal;
    }
    
    article table {
        @apply w-full;
        @apply table-auto;
    }
    
    article thead {
        @apply border-b;
        @apply border-gray-300;
    }
    
    article tbody td {
        @apply px-1;
    }
    
    article tbody tr {
        @apply border-b;
        @apply border-gray-200;
    }    
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

main, .bio {
    animation: fadeIn 0.25s ease 0s 1 normal;
}