/* Typography */
:root {
    --nc-font-sans: Inter, 'Hiragino Sans', 'Meiryo', sans-serif;
    --nc-font-mono: 'Iosevka Web', monospace;
    --nc-lk-1: #e045b7;
    --nc-lk-2: #f720bd;
}

body {
    line-height: 1.75;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.25;
}

code {
    font-family: var(--nc-font-mono) !important;
}

/* Header */
header a {
    color: var(--nc-fg-1);
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

/* Article */
.cover {
    width: 100%;
    border-radius: 15px; 
}

/* Article List */
.postlist_item {
    margin: 1rem 0;
    border-bottom: 1px solid var(--nc-bg-3);
}

/* Bio */
.bio {
    padding: 5px;
    margin: 4rem 0;
    background: var(--nc-bg-2);
    border: 1px solid var(--nc-bg-3);
    border-radius: 15px;
    padding: 2rem 1rem;
}

@media (max-width: 639px) {
    .bio {
        text-align: center;
    }
}

@media (min-width: 640px) {
    .bio_header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .bio_side {
        max-width: 25rem;
    }
}

.bio_img {
    border-radius: 50%;
}
