/* Typography */
:root {
    --nc-font-sans: Inter, 'Hiragino Sans', 'Meiryo', sans-serif;
    --nc-font-mono: 'Iosevka Web', monospace;
    --nc-lk-1: #f720bd;
    --nc-lk-2: #f720bd;
}
@supports (font-variation-settings: normal) {
    :root {
        --nc-font-sans: 'Inter var', 'Hiragino Sans', 'Meiryo', sans-serif;
    }
}

body {
    line-height: 1.75;
}

@font-face {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("league-spartan/LeagueSpartan-Bold.woff2") format("woff2")
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.25;
    font-family: 'League Spartan', 'Hiragino Sans', 'Meiryo', sans-serif;
    font-weight: 700;
}

code {
    font-family: var(--nc-font-mono) !important;
}

/* Header */
header {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: center;
}

header a {
    color: var(--nc-tx-1);
    text-decoration: none;
}

header a:hover {
    color: var(--nc-tx-1);
    text-decoration: underline;
}

/* Article */
.cover {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 0.5rem;
}

/* Article List */
.postlist_item {
    margin: 1rem 0;
    border-bottom: 1px solid var(--nc-bg-3);
}

/* Bio */
.bio {
    color: var(--nc-tx-2);
    padding: 5px;
    margin: 4rem 0;
    background: var(--nc-bg-2);
    border: 1px solid var(--nc-bg-3);
    border-radius: 15px;
    padding: 2rem 1rem;
}

@media (max-width: 639px) {
    .bio {
        text-align: center;
    }
}

@media (min-width: 640px) {
    .bio_header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .bio_side {
        max-width: 25rem;
    }
}

.bio_img {
    border-radius: 50%;
}
