:root {
    font-family: "InterVariable", "BIZ UDPGothic", "Hiragino Sans", sans-serif;
    line-height: 1.6;
}

body {
    color: #111;
    background-color: #fefefe;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #111;
        color: #fefefe;
    }
}
