:root {
    font-family: "InterVariable", "BIZ UDPGothic", "Hiragino Sans", sans-serif;
    line-height: 1.6;
}

body {
    color: #20202c;
    background-color: #f3f3fc;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #20202c;
        color: #f3f3fc;
    }
}
